# Python - byte-compiled / optimized / DLL files / Notebook checkpoints
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints

# Editor files (swaps)
*.sw[mnop]

# Large spatial data
*.shp
*.dbf
*.geojson
*.shx
./examples/jpmci_access/data/spatial/*
